@import '~rsuite/dist/styles/rsuite-dark.css'

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

}

.data-list {
  list-style: none;
} */
