@import '~rsuite/dist/styles/rsuite-dark.css';

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

}

.data-list {
  list-style: none;
} */
.panel {
  color:black;
  width: 50%;
}
.ip-weather-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.covid {
  display: flex;
  flex-direction: row;

  /* align-items: center;
  justify-content: center; */
}
@media(max-width: 800px){
  .panel{
    width: 100%;
  }
  .covid{
    flex-direction: column;
  }
}